<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="container container-title">
    <h3>{{ title }}!</h3>
  </div>
  <div class="container container-logo">
    <div class="col-lg-12 col-md-12 col-sm-12 image-container-left">
      <img alt="Dragon Image" src="../assets/images/fires_hot.png"
           [ngStyle]="{'width': warriorWins ? 0 : dragonLife + '%'}">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 image-container-right">
      <img alt="Warrior Image" src="../assets/images/fires_cold.png"
           [ngStyle]="{'width': dragonWins ? 0 : warriorLife + '%'}">
    </div>
  </div>
  <div class="container">
    <app-dragon [dragon]="dragon"></app-dragon>
    <app-warrior [warrior]="warrior"></app-warrior>
  </div>
  <div class="container container-buttons">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-success" (click)="attack(false)" [disabled]="completed">Attack</button>
      <button type="button" class="btn btn-danger" (click)="blast()" [disabled]="completed">Blast</button>
      <button type="button" class="btn btn-info" (click)="heal()" [disabled]="completed || !started">Heal</button>
      <button type="button" class="btn btn-primary" (click)="reset()" [disabled]="!started">{{completed ? 'Play Again' : 'Give Up'}}</button>
    </div>
  </div>
  <div class="container">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
           [ngStyle]="{'width': warriorWins ? 0 : dragonLife + '%', 'background-color': 'red'}">Dragon</div>
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
           [ngStyle]="{'width': dragonWins ? 0 : warriorLife + '%', 'background-color': 'green'}">Warrior</div>
    </div>
  </div>
  <div class="container container-commentary" *ngIf="started">
    <app-comments [comments]="comments"></app-comments>
  </div>
</div>


