.btn-group {
  padding: 20px;
}

.container-title, .container-buttons, .container-commentary {
  text-align: center;
}

.container-logo {
  padding: 20px;
  height: 240px;
  .image-container-left {
    height: 200px;
    top: 0px;
    position: relative;
    text-align: left;
    img {
      height: 100%;
    }
  }
  .image-container-right {
    height: 200px;
    position: relative;
    top: -200px;
    text-align: right;
    img {
      height: 100%;
    }
  }
}
